
    .eventPagediv1{
        height: 585px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        mask-image: linear-gradient(to bottom,black,transparent 80%);
        overflow: hidden;
    }
    .event-details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 198px;
        /*overlap*/
        position: absolute;
        z-index: 1;
        margin-top: 350px;
        margin-left: 16px;
    }
    .name-price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }
    .priceBtn{
        border-radius: 23px;
        width: 76px;
        height: 33px;
        margin-left: 269px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .price{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        color: #000;
        
    }
    .event-name{

        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        opacity: 1;
       
    }

    .eventPage-title{
        position : absolute;
        top: 33px;
        margin-left: 192px;
        width: 428px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    
    .eventPage-title p{
        flex-grow: 1;
        text-align: center;

    }
    .eventPage-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }
    .backButtonCircle {
        position: absolute;
        top: 24px;
        margin-left: 16px;
        width: 42px;
        height: 42px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 0.1;
        
    }
    
    .backButton{
        position : absolute;
        top: 33px;
        margin-left: 31px;
        width: 24px;
        height: 24px;
        opacity: 1;
        color: #fff;
    }
    
    .eventPage-title{
        top: 33px;
        margin-left: 192px;
        width: 45px;
        height: 24px;
        text-align: left;
        font: normal normal bold 18px/24px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .header{
        margin-left: 16px;
    }
    .eventPagediv2{
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;

    }
    .about-event{

        text-align: left;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 8px;

    }
    .about{
        margin-top: 0px;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        text-align: left;
        letter-spacing: 0px;
        
    }
    .buy-ticket{
        margin-top: 55px;
        height: 48px;
        width: 100%;
        background: #026CDF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000014;
        border: none;
        border-radius: 5px;
        opacity: 1;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
    }

    .date-time,
    .location,
    .tickets {
        height: 42px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        text-align: left;
        font-size: 16px;
        margin-right: 0px;
    }
      .vertical-line{
        margin-left: 24px;
        margin-right: 24px;
        height: 42px;
        
      }
      .location p{
        font-weight: normal;
        margin-top: 32px;
        text-align: left;
        letter-spacing: 0px;
      }
      
      .tickets p{
        font-weight: normal;
        margin-top: 32px;
        text-align: left;
        letter-spacing: 0px;
      }
