
    .eventCard{
        height: 328px;
        width: 396px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 16px;
        margin-bottom: 16px;
        border-radius: 5px;
    }
    .eventDate{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .eventArtist {
        width: 245px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 0px;
    }
    
    .eventLocation {
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .upper-div{
        position: absolute;
        width: 396px;
        height: 328px;
        overflow: hidden;
        flex-shrink: 0;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .eventCardContent {
        height: 110px;
        
        backdrop-filter: blur(10px);
    }
    .eventCardContent p{
        margin-left: 16px;
    }
    
    .priceButton {
        position: absolute;
        margin: 0;
        right: 53px;
        bottom: 53px;
    }
    .price{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        color: #000;
        
    }
    
    @media screen and (min-width: 601px) {
        .eventCard {
            margin-left: 108px;
            width: calc(100% - 216px);  
            height: 141px; 
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            background-size: 404px;
            background-repeat: no-repeat;
            background-color:#1E1D23;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
        }
        .upper-div{
            position: relative;
            height: 141px;
            width: 404px;
            mask-image: linear-gradient(to right,black,transparent 100%);
        }
        .eventCardContent {
            backdrop-filter: blur(0px);
            width: 100%;
            position: relative;
            top: 10px;

        }
        
        .priceButton {
           position: relative;
            margin: 0;
            right: 32px;
            top: 53px;             

        }

        .eventDate{
            position: absolute;
            bottom: 16px;
            left: 400px;
            width: 96px;
            height: 36px;
            background: transparent linear-gradient(110deg, #2C2C2C66 0%, #72727200 100%) 0% 0% no-repeat padding-box;
            border-radius: 23px;
            opacity: 1;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

        .eventDate {
            top: 85px;
            right: 617px;
       
        }
        
    }