
    .eventDate {
        border-radius: 23px;
        width: 46px;
        height: 46px;
        background-color: linear-gradient(135deg,#72727200, #2C2C2C66);
        backdrop-filter: blur(10px);
    }
    .dateCirlce{
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0px;
        color: #fff;
        margin-top: 5px;
    }
    .month{
        margin-top: 0px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: #fff;
    }
    